@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

a {
    text-decoration: none;
    color: inherit;
}


body {
    background-color: #ededed;
    max-width: 380px;
}

#login {
    background-color: #447EED;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 0px;
   
}

#menu {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 3px 5px rgb(230, 230, 230);
    margin-left: 30px;

}

#voltar {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 3px 5px rgb(230, 230, 230);
    margin-right: 150px;
}

#user {
    width: 30px;
    height: 30px;
}

#icon-voltar {
    width: 30px;
    height: 30px;
}

body header {
    margin: 20px;
}   

main div img {
    height: 205px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 18px;
}

body main h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(71, 71, 71);
    margin-left: 40px;
    margin-top: 10px;
}


body main div p {
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 40px;
    text-align: justify;
}

#avaliação {
    display: flex;

}

#estrela {
    height: 16px;
}